<%- include('header') %>
<h1>Welcome To <%= title %></h1>
<% if (user) { %>
<p>Hi <%= user.username %> we are glad to have you here</p>
<form action="/message" method="post">
  <h1>Enter Your Message</h1>
  <label for="title"><input type="text" name="title" id="title" placeholder="Message Title"></label>
  <label for="message"><input type="text" name="message" id="message" placeholder="Enter the Message"></label>
  <button>Submit</button>
</form>

<% } else {%>
<p>You will not regret being here</p>
<% } %>


<h2>Messages</h2 <% if (!locals.currentUser) { %> <blockquote>Note: Please login to be able to post messages and view message authors</blockquote>
<% } %> <% messages.forEach(message => { %> <h3><strong>
    <%= message.title %></strong></h3>
<p><%= message.body %></p>
<% if (locals.currentUser) { %>
<p><i><%= message.author %> - <%= message.formattedDate %></i> </p>
<% } else { %>
<p><i>someonecool - sometimeago</i></p>
<% } %>
<% }) %>
<%- include('footer') %>